*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

button,
a {
	color: inherit;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

:focus-visible {
	outline: 4px solid var(--blue);
	outline-offset: 3px;
}
